# Auto install latest vanilla, fabric or forge server
# Usage: vanilla fabric forge custom none
versiontype=custom
# Fabric jar installer link
# Get a new one from fabricmc.net/use
fabriclink=https://maven.fabricmc.net/net/fabricmc/fabric-installer/0.6.1.51/fabric-installer-0.6.1.51.jar
# Forge jar installer link
forgelink=
# Custom jar link, this is vanilla 1.16.5
customlink=https://launcher.mojang.com/v1/objects/1b557e7b033b583cd9f66746b7a9ab1ec1673ced/server.jar
